@charset "UTF-8";
@import "../../variables";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    letter-spacing: 0;
    font-weight: lighter;
  }
}

.planet-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;

  li {
    padding-left: 5px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--barlow-condensed-font);
    font-size: 16px;
    color: var(--secondary-color);
    letter-spacing: 2px;

    &.active {
      color: var(--main-font-color);

      &:after {
        transform: scaleX(1);
        transform-origin: 0;
        opacity: 1;
      }
    }

    &:after {
      display:block;
      content: '';
      padding-bottom: 5px;
      border-bottom: 2px solid white;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
      opacity: 0.5;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0;
    }
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  margin: 30px 0;

  img {
    width: 60%;
    padding: 0 20%;
    transition: .2s;
  }
}

.travel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.travel-info-distance,
.travel-info-time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;

  .travel-info-title {
    margin-bottom: 15px;
  }

  .travel-info-description {
    margin-bottom: 30px;
  }
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
  margin: 30px 0;
}

@media only screen and (min-width: $tablet-breakpoint) {

  .title-section {
    align-items: flex-start !important;
  }

  .carousel {
    margin: 30px 0;

    img {
      width: 40% !important;
      padding: 0 30% !important;
    }
  }

  .planet-list {
    justify-content: center;


    li:first-child {
      margin-left: 0;
    }

    li {
      margin-left: 30px;
    }
  }

  .travel-info {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .description-section {
    margin: 0 80px;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {

  .content {
    flex-direction: row;
  }

  .title-section-header {
    margin-left: 80px;
  }

  .title-section > .carousel,
  .description-section {
    margin-top: 80px;
  }


  .description-section {
    width: 72%;
    align-items: initial;
    margin-right: 250px;
  }

  .planet-list {
    justify-content: initial;
  }

  .description {
    text-align: justify;
  }

  .travel-info {
    justify-content: space-between;
  }

  .travel-info-distance,
  .travel-info-time {
    width: 100%;
    align-items: initial;
  }

  .carousel {
    margin: 30px 0;

    img {
      width: 60% !important;
      padding: 0 20% !important;
    }
  }

}
