<div class="content">
  <section class="title-section">
    <h5 class="title-section-header"><span>01</span> Pick your Destination</h5>
    <div class="carousel">
      <img id="moon-img" src="assets/img/destination/image-moon.png" alt="Moon Image">
      <img id="mars-img" src="assets/img/destination/image-mars.png" alt="Mars Image">
      <img id="europa-img" src="assets/img/destination/image-europa.png" alt="Europa Image">
      <img id="titan-img" src="assets/img/destination/image-titan.png" alt="Titan Image">
    </div>
  </section>
  <section class="description-section">
    <ul class="planet-list">
      <li *ngFor="let planet of planets; index as i; first as isFirst;">
        <a (click)="onClick(i, $event)"
           [attr.data-image]="'#' + planet.name.toLowerCase() + '-img'"
           [ngClass]="{'active': isFirst}" class="planet-anchor" href="javascript:void(0);">{{planet.name}}</a>
      </li>
    </ul>
    <h2 [innerText]="selectedPlanet.name"></h2>
    <p class="description" [innerText]="selectedPlanet.description"></p>

    <div class="divider"></div>

    <div class="travel-info">
      <div class="travel-info-distance">
        <h6 class="travel-info-title subheading-2 secondary-color-text">Avg. Distance</h6>
        <h6 class="travel-info-description" [innerText]="selectedPlanet.distance + ' KM'"></h6>
      </div>

      <div class="travel-info-time">
        <h6 class="travel-info-title subheading-2 secondary-color-text">Est. Travel Time</h6>
        <h6 class="travel-info-description" [innerText]="selectedPlanet.travelTime"></h6>
      </div>

    </div>
  </section>
</div>
