<section>
  <header>
    <nav>
      <div style="position: relative; width: 110px; height: 48px;">
        <button type="button" class="home-icon" [routerLink]="['/home']" (click)="redirect('home')" aria-label="Icone voltar home" title="Go back home">
          Home icon
        </button>
      </div>
      <div class="linha-home-menu-wrapper">
        <div id="linha-home-menu"></div>
      </div>
      <button type="button" class="menu-icon" aria-label="Icone voltar home" title="Menu" (click)="onClickMenu()">
        Menu icon
      </button>
      <ul id="nav-menu-list">
        <li id="close-menu"><button type="button" (click)="closeMenu()">close menu</button></li>
        <li><a href="javascript:void(0);" [routerLink]="['/home']"  (click)="redirect('home')" routerLinkActive="active"><strong>00</strong> Home</a></li>
        <li><a href="javascript:void(0);" [routerLink]="['/destination']" (click)="redirect('destination')" routerLinkActive="active"><strong>01</strong> Destination</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/crew']" (click)="redirect('crew')" routerLinkActive="active"><strong>02</strong> Crew</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/technology']" (click)="redirect('technology')" routerLinkActive="active"><strong>03</strong> Technology</a></li>
      </ul>
    </nav>
  </header>
</section>
