@import "../../variables";

.crew {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.crew-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-position {
  font-size: 16px;
  color: grey;
}

.crew-member-name {
  font-size: 24px;
  padding: 12px 0;
}

.carousel {
  align-items: baseline;
  border-bottom: grey solid 1px;
  margin: 20px 0 !important;

  img {
    width: 50%;
    padding: 0 25%;
  }
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-buttons {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  li {
    &:first-child {
      margin-left: 0;
    }
    margin-left: 15px;
    button {
      cursor: pointer;
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 50%;
      opacity: 0.3;
      background-color: white;

      &:hover {
        opacity: 0.5;
      }

      &.selected {
        opacity: 1;
      }
    }
  }
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: $tablet-breakpoint) {

  .info {
    margin-top: 30px;
  }

  .carousel {
    border-bottom: none;
  }

  .title-section {
    align-items: initial !important;
  }

  .carousel-wrapper {
    flex-direction: column-reverse;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .carousel-buttons {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .description-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 130px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {

  .title-section-header {
    margin-left: 80px;
    font-size: 28px;
  }

  .description-section {
    margin: 0 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .crew-position {
    font-size: 32px;
  }

  .crew-member-name {
    font-size: 56px;
  }

  .info {
    align-items: start !important;
  }

  .description {
    font-size: 18px;
    text-align: justify;
  }

  .carousel {
    border-bottom: none;
    margin: 0 !important;
  }

  .title-section {
    align-items: initial !important;
  }

  .carousel-wrapper {
    flex-direction: column-reverse;
  }

  .section-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .carousel-buttons {
    margin-top: 80px;
    margin-bottom: 0;
  }
}
