<div class="content">
  <section class="title-section">
    <h5 class="title-section-header"><span>02</span> Meet your crew</h5>
    <div class="carousel">
      <img id="crew-member-0" src="assets/img/crew/image-douglas-hurley.webp" alt="Commander image">
      <img id="crew-member-1" src="assets/img/crew/image-mark-shuttleworth.webp" alt="Mission Specialist image">
      <img id="crew-member-2" src="assets/img/crew/image-victor-glover.webp" alt="Pilot image">
      <img id="crew-member-3" src="assets/img/crew/image-anousheh-ansari.webp" alt="Flight Engineer image">
    </div>

    <ul class="carousel-buttons">
      <li *ngFor="let crewMember of crewMemberList; index as i; first as isFirst;">
        <button type="button"
                [ngClass]="{ 'selected': isFirst }"
                (click)="selectCrewMember($event, i)">&nbsp;</button>
      </li>
    </ul>
  </section>
  <section class="description-section">
    <div class="divider"></div>

    <div class="info">
      <h6 class="travel-info-title crew-position">{{ selectedCrewMember.role }}</h6>
      <h6 class="travel-info-title crew-member-name">{{ selectedCrewMember.name}}</h6>
      <p class="description">{{ selectedCrewMember.description }}</p>
    </div>
  </section>
</div>
